.modal__form-lable {
    display: block;
    position: relative;
}

.modal__form-lable {
    margin-bottom: 10px;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

input.field-input {
    display: block;
    background: #00000000;
    border: 1px solid #AC907A;
    border-radius: 100px;
    padding: 19px 28px;
    width: 100%;
    font-size: 16px;
    transition: var(--transition);
}

.field-input:hover {
    border-color: var(--accent-color);
}

.field-input::placeholder {
    color: #AC907A;
    transition: var(--transition);
}

.field-input:hover::placeholder {
    color: var(--accent-color);
}

.field-input:focus {
    padding: 26px 28px 12px;
}

.field-input:focus+span {
    opacity: 1;
    visibility: visible;
}